<p>
<h2>Tabela com números aleatórios:</h2>
<p>

<table>
<tbody>
    <tr id="tr1"><td> <b>Número 1:</b> {{n}}</td></tr>
    <tr id="tr2"><td> <b>Número 2:</b>  {{n2}}</td></tr>
    <tr id="tr3"><td> <b>Número 3:</b>  {{n3}}</td></tr>
    <tr id="tr4"><td> <b>Número 4:</b>  {{n4}}</td></tr>
    <tr id="tr5"><td> <b>Número 5:</b>  {{n5}}</td></tr>
    <tr id="tr6"><td ><b>Número 6:</b>  {{n6}}</td></tr>
    <tr id="tr7"><td ><b>Número 7:</b>  {{n7}}</td></tr>
    <tr id="tr8"><td> <b>Número 8:</b>  {{n8}}</td></tr>
</tbody>
</table>